<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test node</title>
</head>
<body>
    <form  action="/" method="post">
    <h1>What is u <u>name</u>  </h1>
    <input name="userNameee" type="text" style="color: red; background-color: bisque;">
    <input name="age" type="text" style="color: red; background-color: bisque;">
    <button >send to DBB</button>
    </form>
    <h1> my name is <%= mynam %></h1>
</body>
</html>